@import '../../../../styles/colors.less';

entity-form-editor{
  table{
    td{
      input{
        margin: 0;
        width: 300px;
        &[type="number"]{
          width: 50px;
        }
      }
      textarea{
        font-size: 1em;
        width: 300px;
        padding: 6px;
        height: 150px;
      }
      select{
        font-size: 1em;
        padding: 6px;
      }
    }
    td:first-child{
      white-space: nowrap;
      font-weight: bold;
      text-align: right;
      vertical-align: top;
      line-height: 40px;

      &:after{
        content: ':'
      }
    }
  }
}