@import '../../../../styles/colors';

search-box {
  #border-light;
  display: block;
  padding: 2px 6px;
  border-radius: 8px;
  #bg-colorless;

  input {
    border: 0;
    outline: 0;
    font-size: 1.3em;
    padding: 0;
  }
}