@import '../../../../styles/colors';

yes, no{
  display: inline-block;
  padding: 7px 10px;
  #border-light;
  #bg-colorless;
  cursor: pointer;

  &.selected{
    .primary;
  }
}
no{
  border-left: 0;
}