<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palladient</title>
    <base href="http://localhost:3000/index.html">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type='text/css'>

    <link rel="stylesheet" href="dist/all.css">
    <script src="dist/thirdparty.js"></script>
    <script src="dist/all.js"></script>
</head>
<body ng-app="palladient">
<header>
    <brand><img src="img/Phaethon%20Logo_Symbol.png">Palladient</brand>
    <user-tools>
        <span ng-show="user.authenticated">
            <tool ng-show="user.studio" ui-sref="design" ui-sref-active="active">
                Design</tool><tool ng-show="user.studio" ui-sref="configure" ui-sref-active="active">
                Configure</tool><tool ng-show="user.studio || user.$workspace" ui-sref="work" ui-sref-active="active">
                Work</tool><tool drop-down drop-down-align="right">
                <img ng-src="{{user.icon}}" />{{user.name}}
                <drop-down-options>
                    <option ng-click="logout()">Logout</option>
                    <option>My Profile</option>
                    <option>Change Workspace</option>
                </drop-down-options>
            </tool>
        </span>
        <tool ng-hide="user.authenticated" ng-click="login()">Login with Google</tool>
    </user-tools>
</header>
<content>
    <div ng-if="user.$id && !user.studio && !user.$workspaces" ng-include="'app/licensePlans/licensePlanSelector.html'"></div>
    <div ng-if="user.$id && !user.studio && user.$workspaces && !user.$workspace" ng-include="'app/workspaces/workspaceSelector.html'"></div>
    <div ng-if="user.$id && (user.studio || user.$workspace)" ui-view></div>
</content>
</body>
</html>