<entities-list ng-controller="entitiesController">
    <ng-include src="'app/entities/entityDefinitionEditor.html'"></ng-include>
    <ng-include ng-show="publishing" fake-modal src="'app/entities/entityPublisher.html'"></ng-include>
    <table-tools>
        <tool ng-click="addingEntity = true">Add Business Aspect</tool>
        <tool drop-down class="primary">
            Actions
            <drop-down-options>
                <option ng-click="prepareForPublish()">Publish</option>
                <option>Delete</option>
            </drop-down-options>
        </tool>
        <search-box class="right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="searchString">
            <i class="fa fa-times-circle"></i>
        </search-box>
    </table-tools>
    <table ng-model="entityDefinitions" table-definition="tableDefinition" filter-with="searchString"></table>
</entities-list>