@import '../../styles/toolbox.less';
@import '../../styles/colors.less';

studio {
  display:block;

  toolbox{
    #toolbox; // from toolbox.less
  }

  entity-definition-editor {
    margin: 10px;
    display: inline-block;
  }

  studio-explorer {
    box-shadow: 0 0 10px -3px;
    position: absolute;
    right: -500px;
    #bg-lightest;
    #border-light;
    border-radius: 12px 12px 0 0;
    margin: 10px;
    top: 15px;
    transition: .25s;

    &.show{
      right: 15px;
      transition: .25s;
    }

    & > header {
      padding: 10px;
      border-radius: 10px 10px 0 0;
      #bg-secondary;
      font-size: 1.2em;
      #text-colorless;
      i {
        margin-top: 4px;
        float: right;
      }
    }
    & > content {
      display: inline-block;
      padding: 10px;

      tree {
        padding: 10px;
        display: block;
      }
      folder {
        display: block;

        header {
          display: block;
          margin-bottom: 2px;

          i {
            #text-tertiary;
          }
        }
        item {
          display: block;
          margin-bottom: 2px;
          i {
            margin-right: 5px;
            #text-colorless;
            box-shadow: -1px 1px 2px -1px @text-default;
          }
        }
        & > folder, & > item {
          margin-left: 20px;
        }
      }
    }
  }
}