<entity-definition-editor>
    <stepped-process>
        <step class="active">
            <header>{{entityDefinition.$id ? 'Edit' : 'Add'}} Entity Definition Name</header>
            <content>
                What is the name of the Entity Definition?<br />
                <hint>This could be something like 'Order' or 'Customer'.  Something that is a part of getting your work done.</hint>
                <input ng-model="entityDefinition.name" />
                Describe this Entity Definition<br />
                <textarea ng-model="entityDefinition.description"></textarea>
            </content>
        </step>
        <step>
            <header>{{entityDefinition.name}} Creation</header>
            <content>
                Can Users create these?
                <hint>If so, this type of item will be added to the service catalog as an option for users to create</hint>
                <yes-no ng-model="entityDefinition.userCreatable"></yes-no>
            </content>
        </step>
        <step>
            <header>{{entityDefinition.name}} Icon</header>
            <content>
                Choose the icon that best represents this type of item
                <hint>This symbol will be used to represent this kind of item in short display lists for example</hint>
                <icon-chooser ng-model="entityDefinition.icon" entity-type-name="entityDefinition.name"></icon-chooser>
            </content>
        </step>
        <step>
            <header>{{entityDefinition.name}} Scheduling</header>
            <content>
                Does this type of item allow scheduling?
                <hint>When this is checked, you can allow members to create a calendar event associated with items of this type</hint>
                <yes-no on-no="disableScheduling()" on-yes="enableScheduling()" ng-model="ui.schedulingEnabled" ng-init="initSchedulingEnabled()"></yes-no>
                <div ng-show="entityDefinition.supportsScheduling">
                    What is the calendar category name of events associated with items of this type?
                    <hint>Usually, pluralizing the name of the entity definition will make sense to members</hint>
                    <input ng-model="entityDefinition.eventTypeName" />
                </div>
                <div ng-show="entityDefinition.supportsScheduling">
                    How can this type of item be scheduled?
                    <hint>A Single event item can only be scheduled for one time on the calendar.  Multiple events allows for any number
                        of non-overlapping calendar events for an item of this type while overlapping events can be scheduled any number
                        of times at any time</hint>
                    <select ng-model="entityDefinition.supportsScheduling" ng-options="scheduleOption.value as scheduleOption.name for scheduleOption in schedulingOptions"></select>
                </div>
            </content>
        </step>
        <step>
            <header>{{entityDefinition.name}} Properties</header>
            <content>
                What properties does this Aspect have?
                <hint>These are the things that describe your aspect.  Things like 'amount' and 'quantity' for an Order would be added here.</hint>
                <entity-property-editor ng-enter="step = 3" display-property-name="entityDefinition.displayProperty" ng-model="entityDefinition.properties"></entity-property-editor>
            </content>
        </step>
        <step>
            <header>New {{entityDefinition.name}} Form</header>
            <content>
                What does the form look like when creating one of these?
                <hint>We've created a default form, but you can change it to suit your specific needs</hint>
                <entity-form-editor ng-model="entityDefinition.properties"></entity-form-editor>
            </content>
        </step>
        <step>
            <header>{{entityDefinition.name}} In a List</header>
            <content>
                Which fields should we show in lists in general
                <hint>You can provide additional list views later</hint>
                <list-view-editor ng-model="entityDefinition.listDefinition" properties="entityDefinition.properties"></list-view-editor>
            </content>
        </step>
        <step>
            <header>Complete</header>
            <content>
                Great, your Business Aspect is ready to go
                <hint>Once you've saved your new Aspect, users will be able to start creating them</hint>
                <toolbar>
                    <tool class="primary" ng-click="saveEntityDefinition()">
                        {{entityDefinition.$id ? 'Update' : 'Create'}}
                    </tool>
                    <tool class="warn" ng-click="cancel()">
                        Cancel
                    </tool>
                </toolbar>
            </content>
        </step>
    </stepped-process>
</entity-definition-editor>