entity-property-editor{
  display: block;
  margin-top: 10px;
  table{
    width: 100px;
    thead{
      td{
        font-weight: bold;
      }
    }
    tr{
      td:last-child{
        position: relative;

        row-tools{
          position: absolute;
          right: -85px;
          top: 5px;

          tool{
            cursor: pointer;
            white-space: nowrap;

            i{
              margin-right: 5px;
            }
          }
        }
      }
    }
    input{
      margin: 0 !important;

      &[type="checkbox"]{
        outline: 0;
      }
    }
    select{
      font-size: 1em;
      padding: 5px;
    }
  }
}