@import '../../../../styles/colors';

table.data-table{
  border-collapse: collapse;
  width: 100%;
  border-top: 0;

  thead{
    tr, td, th{
      border-top: 0 !important;
    }

    tr{
      #bg-dark !important;
      #text-colorless;
    }
  }

  tr{
    cursor: pointer;
    position: relative;

    &:nth-child(even){
      #bg-lightest;
    }
    &:nth-child(odd){
      #bg-colorless;
    }

    toolbar {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      #bg-colorless;
      display: none;
      transition: opacity .25s;

      tool {
        white-space: nowrap;
        padding-right: 10px;

        i{
          #text-tertiary;
          padding: 10px 7px;
        }
      }
    }

    &:hover{
      toolbar{
        display:block;
      }
    }

    &.selected{
      #bg-primary;
      #text-colorless;

      toolbar{
        opacity: 1;
        display: block;

        tool{
          #text-darkest;
        }
      }
    }

    th{
      text-align: left;
    }

    td, th{
      #border-light;
      margin: 1%;
      padding: 7px;
      position: relative;

      &:first-child{
        text-align: center;
        width: 15px;
      }
    }

    td[colspan]{
      text-align: left;
    }
  }
}