@import '../../../styles/colors';

entity-manager{
  display: block;
  padding: 10px;
  overflow: auto;

  entity-form{
    table{
      tr{
        td{
          input{
            margin: 0;
          }

          &:first-child{
            text-align: right;
            font-weight: bold;
          }
        }
      }
    }
  }
}