@import 'colors.less';

body{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  overflow: hidden;
}

.ghost{
  opacity: .25;
  cursor: pointer;
  transition: .25s;
}

.ghost:hover{
  opacity: 1;
  transition: .25s;
}

message {
  font-size: .7em;
  display: inline-block;
  margin-left: 7px;
  #text-dark;
}

licensePlan > toolbar > tool{
  padding: 10px;
  font-size: 1em;
  border-radius: 3px;
  outline: 0;
  #bg-colorless;
  #border-medium;
}

