@import 'colors.less';

body{
  margin: 0;
  padding: 0;
  & > header{
    color: @text-default;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    #bg-colorless;
    border-bottom: solid 1px @dark;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 1000;

    brand{
      margin-left: 35px;
      display: inline-block;
      padding: 10px;
      font-weight: bold;
      img{
        width: 25px;
        float: left;
        margin-right: 6px;
        position: absolute;
        top: 5px;
        left: 10px;
      }
    }
    user-tools{
      float: right;
      font-size: .7em;
      line-height: 2em;

      tool{
        padding: 10px 14px;
        cursor: pointer;
        display: inline-block;
        &.active{
          border-bottom: solid 6px @tertiary;
          padding-bottom: 4px;
        }
        &:hover{
          #bg-secondary;
          #text-colorless;
          padding: 10px 14px;

          &.active{
            padding-bottom: 4px;
          }
        }
        & > img{
          height: 31px;
          vertical-align: bottom;
          margin-right: 12px;
          #border-dark;
        }
        &:last-child{
          border-left: solid 1px @dark;
        }
      }
    }
  }
}