@import 'colors';
@import 'buttons';

table-tools{
  display: block;
  overflow: visible;
  padding-bottom: 10px;

  #bg-colorless;

  tool{
    .button;
    .success;
  }

  search-box{
    margin: 0;
  }
}